#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

/*Make the squares 40px by 40px and centered with all chess pieces*/
.square {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Make sure the chess pieces fit in the 40px squares*/
.square svg {
    height: 30px;
    width: 30px;
    position: relative;
    z-index: -9;
}

.path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9; /*Positions the pieces on top of the squares */
}

/*Picked navy for background color, can change later*/
.navy {
    background-color: rgb(105, 102, 190);
}

.blue {
    background-color: rgba(161, 171, 224, 0.923);
}

.black {
    fill: rgb(28, 28, 28);
}

.white {
    fill: rgb(255, 255, 255);
}